/* Resetowanie stylów przeglądarki */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50;
  color: black;
}

.wrapper {
  min-height: 100%;
  display: grid;
}

.main {
  font-weight: bolder;
  font-size: x-large;
  place-items: center;
  display: grid;
  /*text-shadow: 2px 2px black;*/
  -webkit-text-stroke: 1px black;
  color: white;
}

button {
  background-color: transparent;
  height: 40px;
  width: 120px;
  text-align: center;
  margin: 10px auto;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}